<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--Connection string for the OpenID database. Don't forget to change-->
    <add name="connectionString" connectionString="Initial Catalog=OpenID_Database;Data Source=Database server;Integrated Security=SSPI;" providerName=".NET Framework Data Provider for SQL Server" />
  </connectionStrings>

  <appSettings>
    <!-- Set the Default Role for New Users
		  0 = Administrator
		  1 = SiteRole1		  
		-->
    <add key="DefaultRoleForNewUser" value="1"/>
  </appSettings>

  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms name=".OpenIdProject" path="/" loginUrl="OpenId/Pages/Login_OpenID.aspx" defaultUrl="OpenId/Pages/Login_OpenID.aspx">
      </forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="SqlProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="connectionString"
             applicationName="OpenIdProject"
             enablePasswordRetrieval="false"
             enablePasswordReset="false"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false"
             passwordFormat="Hashed" />
        
        <add name="OpenIDMembershipProvider" 
             type="OrbitOne.OpenId.MembershipProvider.OpenIDMembershipProvider" 
             connectionStringName="connectionString"
             applicationName="OpenIdProject"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false"                 
             OptionalInformation="nickname,email,fullname,dob,gender,postcode,country,language,timezone"
             NonOpenIdMembershipProviderName ="SqlProvider"/>
      </providers>
    </membership>
    <roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="true" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="connectionString" applicationName="OpenIdProject" />
      </providers>
    </roleManager>
  </system.web>
    
  <location path="OpenId/Pages/Create_User.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
	
  <location path="OpenId/Pages/Login_OpenID.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
	
  <location path="OpenId/Pages/About.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="default.htm">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="OpenId/Administrators">
    <system.web>
      <authorization>        
        <allow roles="Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="OpenId/Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
	
  <location path="OpenId/OpenID.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
	
  <location path="OpenId/MasterPage.master">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="OpenId/Pages/OpenId_User_Link.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>